@import "global";
@import "animations";
:root {
  --primary-color: #0e4665;
  --main-color: #0d4564;
  --secondary-color: #27a8b8;
  --title-color: #61d0dd;
  --dark-color: #1d1d35;
  --light-color: #fff;
  --gray-color: #d5dae1;

  --primary-filter: invert(56%) sepia(87%) saturate(397%) hue-rotate(138deg)
    brightness(85%) contrast(85%);
  --secondary-filter: invert(85%) sepia(14%) saturate(2743%) hue-rotate(150deg)
    brightness(85%) contrast(95%);
  --light-filter: invert(92%) sepia(100%) saturate(23%) hue-rotate(251deg)
    brightness(108%) contrast(100%);
  --gray-filter: invert(58%) sepia(0%) saturate(3400%) hue-rotate(13deg)
    brightness(87%) contrast(97%);
  --danger-filter: invert(17%) sepia(72%) saturate(6801%) hue-rotate(357deg)
    brightness(100%) contrast(115%);
}
@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}
@mixin media {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin rtl {
  html[dir="rtl"] & {
    @content;
  }
}

@mixin ltr {
  html[dir="ltr"] & {
    @content;
  }
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

@mixin flexData {
  display: flex;
  align-content: center;
  align-items: center;
}

@mixin flexColumnCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
@mixin flexStart {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
}

@mixin fullCenterContain {
  width: 100%;
  height: 100%;
  @include flexColumnCenter();
}

@mixin fullImageContain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin fullImageCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.general-section {
  width: 100%;
  padding: 80px 0px;

  @media (max-width: 992px) {
    padding: 30px 0px;
  }
}
.custom-btn {
  width: 180px;
  height: 50px;
  position: relative;
  z-index: 9;
  background-color: var(--light-color);
  border-radius: 8px;
  overflow: hidden;
  @include flexCenter();
  gap: 10px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: all 0.3s linear;
  }

  &::after {
    left: 0;
  }

  &::before {
    right: 0;
  }

  span {
    font-size: 16px;
    font-weight: bold;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    @include ltr() {
      transform: scaleX(-1);
    }
  }

  &.primary-btn {
    background: linear-gradient(to right, #3ac6d7 0%, #116f91 100%);
    span {
      color: var(--light-color);
    }

    &:hover {
      img {
        animation: tada 0.3s linear both;
      }
    }
  }

  &.secondary-btn {
    background: transparent;
    span {
      color: var(--light-color);
    }
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }

    &:hover {
      img {
        // fill: var(--secondary-filter);
        animation: tada 0.3s linear both;
      }
    }
  }
  &.light-btn {
    border: 1px solid var(--light-color);

    background-color: transparent;
    transition: all 0.3s linear;
    span {
      color: var(--light-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border: none;
      span {
        color: var(--light-color);
      }

      img {
        fill: var(--secondary-filter);
        animation: tada 0.3s linear both;
      }
    }
  }

  &:hover {
    span {
      animation: storm 0.4s linear both;
    }
  }
}
.heading {
  .content {
    @include flexColumnCenter();
    gap: 10px;
  }
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  @include media() {
    flex-wrap: wrap;
    gap: 30px;
  }
  .see-all {
    .custom-btn {
      width: 100px;
      height: 38px;
      span {
        font-size: 14px;
      }
    }
  }
  .details {
    @include flexCenter();
    align-items: start;
    gap: 16px;
    h2 {
      color: #b0bbc6;
      font-size: 34px;
      font-weight: 600;
      @include media() {
        font-size: 24px;
      }
      span {
        color: var(--light-color);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 180px;
          height: 14px;
          background: url("../images/icons/heading.svg") center / contain
            no-repeat;
          z-index: 9;
          bottom: -20px;
          left: 0;
          @include media() {
            width: 150px;
            height: 12px;
          }
        }
      }
    }
    img {
      width: 28px;
      height: 28px;
      object-fit: contain;
    }
  }
}
.top-nav {
  width: 100%;
  border-bottom: 1px solid #33506c;
  padding: 8px;
  @include media() {
    display: none;
  }
  .details {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
  }

  .information {
    @include flexCenter();
    gap: 4px;
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    span {
      color: var(--light-color);
      font-size: 14px;
      font-weight: normal;
      @media (max-width: 1366px) {
        font-size: 12px;
      }
    }
  }
}
.navbar {
  width: 100%;
  background-color: #002447;
  border-bottom: 1px solid #33506c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.3s linear;
  padding-bottom: 0 !important;
  @include media() {
    padding: 10px 0px !important;
  }
  &.scrolled {
    padding: 10px 0px;

    .navbar-nav {
      @include media() {
        top: 52px !important;
      }
    }
  }

  .contain {
    width: 100%;
    @include flexBetween();
    .hamburger {
      display: none;

      @include media() {
        display: block;
      }

      .line {
        width: 30px;
        height: 3px;
        background: var(--secondary-color);
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line {
          &:nth-child(2) {
            width: 0px;
          }

          &:nth-child(1),
          &:nth-child(3) {
            transition-delay: 0.3s;
          }

          &:nth-child(1) {
            transform: translateY(6.5px);
          }

          &:nth-child(3) {
            transform: translateY(-15px) rotate(90deg);
          }
        }
      }
    }

    .brand-name img {
      width: 75px;
      height: 40px;
      object-fit: contain;
      @include media() {
        width: 90px;
        height: 50px;
      }
    }

    .navbar-nav {
      flex-direction: row;
      gap: 20px;

      @include media() {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 64px;
        right: -100%;
        background-color: var(--light-color);
        z-index: 99;
        flex-direction: column;
        gap: 0px;
        padding: 20px 15px;
        transition: all 0.3s linear;

        @include ltr() {
          right: unset;
          left: -100%;
        }

        &.active-nav {
          right: 0px;

          @include ltr() {
            right: unset;
            left: 0%;
          }
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 50%;
          height: 40%;
          z-index: -1;
          bottom: 0;
          left: 0;
          background: url("../images/icons/top_pattern.svg") top left / contain
            no-repeat;
          animation: bottomClip 4s linear infinite alternate;
        }

        &::before {
          right: 0px;
          left: unset;
          transform: scaleX(-1);
        }
      }

      .nav-item {
        padding: 0px;
        margin: 0px;

        &.socail-links {
          @media (max-width: 992px) {
            display: none;
          }
        }

        &.hidden-item {
          @media (min-width: 992px) {
            display: none;
          }
          @include flexData();
          gap: 18px;
          .lang {
            @include flexCenter();
            gap: 5px;
            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
              filter: var(--secondary-filter);
            }
            span {
              color: var(--light-color);
              font-size: 15px;
              font-weight: 500;
              @include media() {
                color: var(--primary-color);
              }
            }
          }
          .custom-btn {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        @include media() {
          width: 100%;
          padding: 15px 0px;
          border-bottom: 1px solid rgba(78, 45, 127, 0.1);

          &:first-child {
            padding-top: 0px;
          }

          &:last-child {
            padding-bottom: 0px;
            border-bottom: 0px;
          }
        }

        .nav-link {
          margin: 0px;
          padding: 24px;
          font-size: 15px;
          font-weight: 700;
          color: var(--light-color);
          position: relative;
          z-index: 9;
          border-radius: 4px;
          @media (max-width: 1366px) {
            padding: 20px;
            font-size: 12px;
          }

          @include media() {
            width: 100%;
            padding: 0px;
            color: var(--primary-color);
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #27a8b8;
            border-radius: 4px;
            top: 0;
            left: 0;
            z-index: -1;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: all 0.3s linear;

            @include media() {
              display: none;
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 6px;
            background-color: var(--light-color);
            bottom: 0;
            left: calc(50% - 40px);
            z-index: 9;
            border-radius: 25px;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: all 0.3s linear;

            @include media() {
              display: none;
            }
          }

          &:hover,
          &.active {
            color: var(--light-color);
            @include media() {
              color: var(--secondary-color);
            }

            &::after,
            &::before {
              animation: clipRight 0.3s linear;
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }
        }
      }
    }

    .button-contain {
      @include flexData();
      gap: 18px;
      @include media() {
        display: none;
      }
      .lang {
        @include flexCenter();
        gap: 5px;
        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          filter: var(--secondary-filter);
        }
        span {
          color: var(--light-color);
          font-size: 15px;
          font-weight: 500;
          @media (max-width: 1366px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.login-navbar {
  width: 100%;
  background-color: #002447;
  padding: 20px 40px;
  @include media() {
    padding: 10px 0px !important;
  }
  &.scrolled {
    padding: 10px 0px;

    .navbar-nav {
      @include media() {
        top: 52px !important;
      }
    }
  }
  .contain {
    width: 100%;
    @include flexBetween();
    .hamburger {
      display: none;

      @include media() {
        display: block;
      }

      .line {
        width: 30px;
        height: 3px;
        background: var(--secondary-color);
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line {
          &:nth-child(2) {
            width: 0px;
          }

          &:nth-child(1),
          &:nth-child(3) {
            transition-delay: 0.3s;
          }

          &:nth-child(1) {
            transform: translateY(6.5px);
          }

          &:nth-child(3) {
            transform: translateY(-15px) rotate(90deg);
          }
        }
      }
    }

    .brand-name img {
      width: 90px;
      height: 50px;
      object-fit: contain;
      @include media() {
        width: 92px;
        height: 50px;
      }
    }

    .login-navbar-nav {
      flex-direction: row;
      gap: 20px;

      @include media() {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 64px;
        right: -100%;
        background-color: var(--light-color);
        z-index: 99;
        flex-direction: column;
        gap: 0px;
        padding: 20px 15px;
        transition: all 0.3s linear;

        @include ltr() {
          right: unset;
          left: -100%;
        }

        &.active-nav {
          right: 0px;

          @include ltr() {
            right: unset;
            left: 0%;
          }
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 50%;
          height: 40%;
          z-index: -1;
          bottom: 0;
          left: 0;
          background: url("../images/icons/top_pattern.svg") top left / contain
            no-repeat;
          animation: bottomClip 4s linear infinite alternate;
        }

        &::before {
          right: 0px;
          left: unset;
          transform: scaleX(-1);
        }
      }

      .nav-item {
        padding: 0px;
        margin: 0px;

        &.socail-links {
          @media (max-width: 992px) {
            display: none;
          }
        }

        &.hidden-item {
          @media (min-width: 992px) {
            display: none;
          }
          @include flexData();
          gap: 18px;
          .lang {
            @include flexCenter();
            gap: 5px;
            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
              filter: var(--secondary-filter);
            }
            span {
              color: var(--light-color);
              font-size: 15px;
              font-weight: 500;
              @include media() {
                color: var(--primary-color);
              }
            }
          }
          .custom-btn {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        @include media() {
          width: 100%;
          padding: 15px 0px;
          border-bottom: 1px solid rgba(78, 45, 127, 0.1);

          &:first-child {
            padding-top: 0px;
          }

          &:last-child {
            padding-bottom: 0px;
            border-bottom: 0px;
          }
        }

        .nav-link {
          margin: 0px;
          padding: 24px;
          font-size: 15px;
          font-weight: 700;
          color: var(--light-color);
          position: relative;
          z-index: 9;
          border-radius: 4px;
          @media (max-width: 1366px) {
            padding: 20px;
            font-size: 12px;
          }

          @include media() {
            width: 100%;
            padding: 0px;
            color: var(--primary-color);
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #27a8b8;
            border-radius: 4px;
            top: 0;
            left: 0;
            z-index: -1;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: all 0.3s linear;

            @include media() {
              display: none;
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 6px;
            background-color: var(--light-color);
            bottom: 0;
            left: calc(50% - 40px);
            z-index: 9;
            border-radius: 25px;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: all 0.3s linear;

            @include media() {
              display: none;
            }
          }

          &:hover,
          &.active {
            color: var(--light-color);
            @include media() {
              color: var(--secondary-color);
            }

            &::after,
            &::before {
              animation: clipRight 0.3s linear;
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }
        }
      }
    }

    .button-contain {
      @include flexData();
      gap: 18px;
      @include media() {
        display: none;
      }
      .lang {
        @include flexCenter();
        gap: 5px;
        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          filter: var(--light-filter);
        }
        span {
          color: var(--light-color);
          font-size: 15px;
          font-weight: 500;
          @media (max-width: 1366px) {
            font-size: 12px;
          }
        }
      }
      .login-btn {
        width: 101px;
        height: 34px;
        border-radius: 40px;
        span {
          font-size: 14px;
        }
      }
      .text {
        color: var(--light-color);
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}
.main-header {
  width: 100%;
  padding: 160px 0px 100px;
  position: relative;
  z-index: 9;
  background: linear-gradient(
      to right,
      rgba(0, 36, 71, 0.3) 11%,
      rgba(0, 36, 71, 0.88) 18%,
      rgba(0, 36, 71, 0.4) 61%,
      rgba(0, 36, 71, 1) 100%
    ),
    url("../images/intro/intro-bg.png") center / cover no-repeat;
  @include media() {
    padding: 130px 0px 50px;
    background: linear-gradient(
        to right,
        rgba(0, 36, 71, 0.3) 11%,
        rgba(0, 36, 71, 0.88) 100%,
        rgba(0, 36, 71, 0.4) 61%,
        rgba(0, 36, 71, 1) 100%
      ),
      url("../images/intro/intro-bg.png") center / cover no-repeat;
  }

  .contain {
    @include flexStart();
    flex-direction: column;
    align-items: start;
    .head {
      border: 1px solid #fff;
      padding: 5px 12px;
      border-radius: 44px;
      font-size: 14px;
      font-weight: 500;
      @include flexCenter();
    }
    span {
      font-size: 18px;
      font-weight: 700;
      color: var(--light-color);

      @include media() {
        font-size: 14px;
      }
    }

    h1 {
      font-size: 48px;
      font-weight: 900;
      color: var(--light-color);
      margin: 20px 0px;

      @media (min-width: 992px) {
        line-height: 67px;
      }

      @include media() {
        font-size: 24px;
        line-height: 34px;
        margin: 24px 0px;
      }

      span {
        font-weight: 900;
        color: var(--secondary-color);
        font-size: 48px;

        @include media() {
          font-size: 24px;
        }
      }
    }

    p {
      color: var(--light-color);
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 24px;
      @include media() {
        font-size: 12px;
      }
    }
    .details-contain {
      @include flexStart();
      margin-top: 85px;
      width: 100%;
      gap: 80px;
      @include media() {
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 30px;
      }
      .single-card {
        @include flexCenter();
        align-items: start;
        gap: 10px;
        img {
          width: 68px;
          height: 68px;
          object-fit: contain;
          @include media() {
            width: 34px;
            height: 34px;
          }
        }
        .card-desc {
          @include flexColumnCenter();
          align-items: center;
          h2 {
            font-size: 32px;
            font-weight: bold;
            color: var(--light-color);
            @include media() {
              font-size: 22px;
            }
          }
        }
      }
    }
  }

  .image-contain {
    width: 100%;
    height: 510px;
    animation: translateY 1s linear infinite alternate;
    position: relative;
    @include media() {
      height: 350px;
    }

    .intro {
      @include fullImageContain();
      object-position: center right;

      @include rtl() {
        object-position: center left;
      }

      @include media() {
        object-position: center;
      }
    }
    .plan {
      width: 175px;
      height: 135px;
      position: absolute;
      top: 65%;
      left: 30%;
      transform: translate(-50%, -50%);
    }
  }
  .download-contain {
    @include media() {
      margin: 20px 0px;
    }
  }
}

.register-header {
  width: 100%;
  padding: 0px;
  position: relative;
  z-index: 9;
  .form-contain {
    padding: 25px 185px;
    @include media() {
      padding: 25px 30px;
      margin-top: 20px;
      border-radius: 32px;
    }
  }
  .form-group {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 9;
    margin-bottom: 52px;
    &.text-area {
      height: 100px;

      .form-control {
        padding-top: 20px;
        resize: none;
      }
    }
    .form-control {
      padding-inline-start: 16px;
      width: 100%;
      height: 100%;
      background-color: #002447;
      border-radius: 4px;
      color: #b0bbc6;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid #33506c;

      &::placeholder {
        color: #b0bbc6;
        font-size: 14px;
        font-weight: 500;
      }
    }
    label {
      color: var(--light-color);
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
      span {
        color: #cb1a0e;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
  .submit {
    width: 100%;
    margin-top: 40px;
  }
  .image-contain {
    width: 100%;
    padding: 130px 90px;
    background: linear-gradient(
        to right,
        rgba(58, 198, 215, 0.4),
        rgba(17, 111, 145, 0.1)
      ),
      #002141;
    .desc {
      padding: 50px 60px;
      h2 {
        color: var(--light-color);
        font-size: 32px;
        font-weight: bold;
        text-align: center;
      }
      p {
        color: #ebf9fb;
        font-size: 16px;
        font-weight: normal;
        margin-top: 15px;
      }
    }
  }
  p {
    color: #b0bbc6;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }
  .heading {
    margin-top: 40px;
    h2 {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      color: var(--light-color);
    }
  }
  .social {
    @include flexCenter();
    gap: 10px;
    li a {
      width: 40px;
      height: 40px;
      background-color: #0d2b4a;
      border-radius: 8px;
      @include flexCenter();
      position: relative;
      z-index: 9;
      overflow: hidden;

      img {
        width: 50%;
        height: 50%;
        object-fit: contain;
        object-position: center;
        filter: var(--light-filter);
      }

      &:hover {
        img {
          animation: fadeInLeft 0.4s linear;
          filter: var(--primary-filter);
        }
      }
    }
  }
  .copyrights {
    padding-top: 160px;
  }
}
.indicators {
  .contain {
    padding: 80px 60px;
    background-color: rgba($color: #144867, $alpha: 0.7);
    border-radius: 40px;
    position: relative;
    @include media() {
      padding: 40px 20px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 403px;
      height: 100%;
      background: url("../images/intro/Vector.svg") center / contain no-repeat;
      z-index: 9;
      top: 0;
      right: 0;
      @include media() {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 403px;
      height: 100%;
      background: url("../images/intro/Vector2.svg") center / contain no-repeat;
      z-index: 9;
      top: 0;
      left: 0;
      @include media() {
        display: none;
      }
    }
    .heading {
      h2 {
        font-size: 40px;
        color: var(--light-color);
        font-weight: bold;
        span {
          color: var(--title-color);
        }
        @include media() {
          font-size: 24px;
          text-align: center;
        }
      }
      P {
        font-size: 16px;
        color: var(--light-color);
        @include media() {
          font-size: 14px;
          text-align: center;
        }
      }
    }
    .swiper-indicator {
      padding: 30px 0px 60px;
    }
    .indicator-box {
      width: 100%;
      padding: 30px 20px;
      background-color: var(--primary-color);
      border: 0.5px solid rgba($color: #fff, $alpha: 0.1);
      border-radius: 16px;
      transition: all 0.3s linear;
      @include flexStart();
      gap: 20px;
      .image-contain {
        @include flexCenter();
        width: 48px;
        height: 48px;
        background-color: var(--secondary-color);
        border-radius: 8px;
        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
          filter: var(--light-filter);
        }
      }
      .details-contain {
        p {
          font-size: 12px;
          color: #cad3dd;
          margin: 0 !important;
        }
        h2 {
          font-size: 20px;
          font-weight: bold;
          color: var(--light-color);
          margin-top: 12px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        background-color: var(--secondary-color);
        width: 100%;
        height: 0%;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 16px;
        transition: all 0.3s linear;
      }
      &:hover {
        transform: translateY(-10px);
        &::after {
          height: 100%;
        }
        .details-contain {
          .tax {
            color: var(--light-color) !important;
          }
        }
        .image-contain {
          background-color: var(--light-color);
          img {
            filter: var(--primary-filter);
            animation: fadeInLeft 0.3s linear both;
          }
        }
      }
    }
  }
}
.fields {
  .swiper-fields {
    padding: 30px 0px 60px;
    @include media() {
      padding: 0px 0px 40px;
    }
    .field-box {
      width: 100%;
      height: 362px;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      position: relative;
      overflow: hidden;

      .details-contain {
        z-index: 2;
        transition: opacity 0.3s ease;
        h2 {
          font-size: 20px;
          font-weight: bold;
          color: var(--light-color);
          margin-bottom: 20px;
        }

        .statistics {
          width: 100%;
          @include flexStart();
          gap: 10px;

          .desc {
            background-color: rgba($color: #fff, $alpha: 0.15);
            padding: 5px 10px;
            border-radius: 7px;
            @include flexCenter();
            align-items: start;
            gap: 5px;

            span {
              font-size: 10px;
              color: var(--light-color);
            }

            img {
              width: 12px;
              height: 12px;
              object-fit: contain;
            }
          }
        }
      }

      .overlay-info {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 0%;
        padding: 20px;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0.2) 100%
        );
        color: var(--light-color);
        text-align: start;
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .overley-desc {
          h2 {
            margin: 0 0 24px;
            font-size: 20px;
            font-weight: bold;
          }

          p {
            margin: 0 0 10px;
            font-size: 14px;
            font-weight: normal;
          }
        }

        .custom-btn {
          span {
            font-size: 16px;
            color: var(--light-color);
          }
          @include flexStart();
        }
      }

      &:hover {
        .details-contain {
          opacity: 0;
          visibility: hidden;
        }

        .overlay-info {
          height: 100%;
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }
      }
    }
  }
}

.latest-statistics {
  .swiper-statistics {
    padding: 30px 0px 60px;
    @include media() {
      padding: 0px 0px 40px;
    }
    .statistics-box {
      @include flexStart();
      flex-direction: column;
      align-items: start;
      gap: 16px;
      padding: 16px;
      border: 1px solid #244769;
      border-radius: 20px;
      transition: all 0.3s linear;
      .image-contain {
        width: 28px;
        height: 28px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .contain {
        @include flexStart();
        flex-direction: column;
        align-items: start;
        gap: 10px;
        h2 {
          font-size: 16px;
          color: #b0bbc6;
          font-weight: normal;
        }
        .number {
          @include flexStart();
          align-items: start;
          gap: 10px;
          p {
            font-size: 24px;
            color: var(--light-color);
            font-weight: bold;
            span {
              font-size: 16px;
              color: #b0bbc6;
              font-weight: normal;
            }
          }
          .alert {
            padding: 5px 10px;
            background-color: rgba($color: #20a76e, $alpha: 0.08);
            border-radius: 1000px;
            span {
              color: #20a76e;
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
      .date {
        @include flexStart();
        align-items: start;
        flex-wrap: wrap;
        gap: 8px;
        .date-box {
          padding: 7px 14px;
          border-radius: 6px;
          background-color: rgba($color: #fff, $alpha: 0.05);
          @include flexCenter();
          gap: 5px;
          img {
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
          span {
            font-size: 14px;
            font-weight: normal;
            color: var(--light-color);
            @include media() {
              font-size: 12px;
            }
          }
        }
      }
      .custom-btn {
        span {
          font-size: 18px;
          font-weight: bold;
          color: var(--light-color);
          @include media() {
            font-size: 16px;
          }
        }
        @include flexStart();
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/statistics/pattern.svg") 10% 100% / contain
          no-repeat;
        top: 0;
        z-index: -1;
        opacity: 0.2;
        transition: all 0.3s linear;
      }
      &:hover {
        transform: translateY(-10px);
        border: 1px solid var(--secondary-color);
        &::after {
          height: 100%;
          opacity: 1;
        }
      }
    }
  }
}

.analysis {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 85px;
    background: url("../images/analysis/pattern.svg") bottom left / contain
      no-repeat;
    bottom: 25%;
    left: 0;
    z-index: -1;
    transition: all 0.3s linear;
    @include media() {
      display: none;
    }
  }
}
.world {
  .contain {
    position: relative;
    .heading {
      position: relative;
      z-index: 999;
      margin-bottom: 20px;
    }
    .world-box {
      @media (min-width: 993px) and (max-width: 1024px) {
        width: 50%;
      }
    }
    .indicator-box {
      position: relative;
      z-index: 999;
      margin: 20px 0px;
    }
    .details-contain {
      .price {
        @include flexCenter();
        gap: 10px;
        h2 {
          span {
            font-size: 14px;
            font-weight: normal;
          }
        }
        .tax {
          color: #20a76e !important;
          font-size: 14px !important;
          font-weight: normal;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../images/world/world_pattern.svg") center / contain
        no-repeat;
      top: 0;
      left: 0;
      z-index: 9;
      transition: all 0.3s linear;
    }
  }
}
.about-us {
  .image-contain {
    width: 100%;
    height: 490px;
    animation: translateY 1s linear infinite alternate;

    @include media() {
      height: 250px;
    }

    img {
      @include fullImageContain();
      object-position: center;
    }
  }
  .contain {
    @include fullCenterContain();

    h2 {
      font-size: 48px;
      font-weight: bold;
      color: var(--light-color);
      margin-bottom: 16px;
      span {
        color: #61d0dd;
      }
      @include media() {
        font-size: 24px;
      }
    }
    p {
      color: #cad3dd;
      font-size: 18px;
      font-weight: normal;
      @include media() {
        font-size: 12px;
      }
    }
  }
  .about-box {
    position: relative;
    width: 100%;
    padding: 40px;
    border: 1px solid #244769;
    border-radius: 16px;
    @include flexStart();
    align-items: start;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
    transition: all 0.3s linear;
    @include media() {
      margin-top: 20px;
    }
    .image-content {
      width: 100%;
      .icon {
        width: 56px;
        height: 56px;
        @include flexCenter();
        border-radius: 8px;
        background-color: #092e4f;
        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
          filter: invert(75%) sepia(64%) saturate(442%) hue-rotate(145deg)
            brightness(88%) contrast(89%);
        }
      }
    }
    .head {
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: var(--light-color);
      }
    }
    .desc {
      p {
        font-size: 16px;
        color: #cad3dd;
        font-weight: normal;
      }
    }
    &:hover {
      transform: translateY(-10px);
      border: 1px solid var(--secondary-color);
      &::after {
        opacity: 0.24;
      }
      .image-content {
        .icon {
          background-color: #39c4d5;
          img {
            filter: var(--light-filter);
            animation: fadeInLeft 0.3s linear both;
          }
        }
      }
    }
  }
  .mission {
    &::after {
      content: "";
      position: absolute;
      width: 256px;
      height: 256px;
      background: url("../images/about-us/mission-bg.svg") center / contain
        no-repeat;
      bottom: 20px;
      left: 20px;
      z-index: -1;
      opacity: 0.05;
      transition: all 0.3s linear;
    }
  }
  .vision {
    &::after {
      content: "";
      position: absolute;
      width: 256px;
      height: 256px;
      background: url("../images/about-us/vision-bg.svg") center / contain
        no-repeat;
      bottom: 20px;
      left: 20px;
      z-index: -1;
      opacity: 0.05;
      transition: all 0.3s linear;
    }
  }
  .message {
    &::after {
      content: "";
      position: absolute;
      width: 256px;
      height: 256px;
      background: url("../images/about-us/message-bg.svg") center / contain
        no-repeat;
      bottom: 20px;
      left: 20px;
      z-index: -1;
      opacity: 0.05;
      transition: all 0.3s linear;
    }
  }
}

.latest-news {
  .news-box {
    width: 100%;
    padding: 16px;
    @include flexStart();
    align-items: start;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #244769;
    border-radius: 16px;
    transition: all 0.3s linear;
    position: relative;
    @include media() {
      margin-top: 20px;
    }
    .image-contain {
      width: 100%;
      height: 176px;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .date {
      @include flexCenter();
      gap: 5px;
      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
      p {
        font-size: 14px;
        color: var(--light-color);
        font-weight: normal;
        margin: 0px !important;
      }
    }
    .desc {
      p {
        font-size: 18px;
        color: var(--light-color);
        font-weight: bold;
      }
    }
    .custom-btn {
      width: 100px;
      height: 40px;
      margin-top: 24px;
    }
    &:hover {
      transform: translateY(-10px);
      border: 1px solid var(--secondary-color);
    }
    &::after {
      content: "";
      position: absolute;
      width: 90px;
      height: 85px;
      background: url("../images/analysis/pattern.svg") bottom left / contain
        no-repeat;
      bottom: 25%;
      left: 0;
      z-index: -1;
      transition: all 0.3s linear;
      @include media() {
        display: none;
      }
    }
  }
}
.contact-us {
  padding-bottom: 40px;
  .title {
    span {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 180px;
        height: 14px;
        background: url("../images/icons/contact-title.svg") center / contain
          no-repeat !important;
        z-index: 9;
        top: -10px;
        right: -20px;
        @include media() {
          width: 150px;
          height: 12px;
        }
      }
    }
  }
  .form-contain {
    padding: 56px 64px;
    border: 1px solid #1e3b57;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
    height: 100%;
    @include media() {
      padding: 25px 30px;
      margin-top: 20px;
      border-radius: 32px;
    }
  }
  .form-group {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 9;
    margin-bottom: 52px;
    &.text-area {
      height: 100px;

      .form-control {
        padding-top: 20px;
        resize: none;
      }
    }
    .form-control {
      padding-inline-start: 16px;
      width: 100%;
      height: 100%;
      background-color: #002447;
      border-radius: 4px;
      color: #b0bbc6;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid #33506c;

      &::placeholder {
        color: #b0bbc6;
        font-size: 14px;
        font-weight: 500;
      }
    }
    label {
      color: var(--light-color);
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
      span {
        color: #cb1a0e;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .custom-btn {
    width: 100px;
    margin-top: 20px;
  }

  .box-contain {
    width: 100%;
    height: 100%;
    padding: 144px 60px 144px 80px;
    background: linear-gradient(to right, #3ac6d7 0%, #116f91 100%);
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    @include flexCenter();
    @include media() {
      padding: 70px 60px 70px 80px;
      border-radius: 32px;
    }
    img {
      width: 430px;
      height: 355px;
      object-fit: contain;
      animation: translateY 1s linear infinite alternate;
      @include media() {
        width: 350px;
      }
    }
  }
  .policy {
    display: flex;
    align-items: start;
    align-content: center;
    cursor: pointer;
    position: relative;
    width: 100%;
    gap: 10px;
    margin-top: 12px;
    .check {
      appearance: none;
      -webkit-appearance: none;
      width: 24px !important;
      height: 24px;
      border-radius: 0px;
      border: 1px solid #33506c !important;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 9;
      &::after,
      &::before {
        content: "";
        position: absolute;
        transition: all 0.2s linear;
      }
      &::before {
        background: url("../images/icons/check_white.svg") center / contain
          no-repeat;
        transform: scale(0);
        z-index: -1;
        width: 14px;
        height: 14px;
        top: calc(50% - 7px);
        left: calc(50% - 7px);
      }
      &::after {
        width: 100%;
        height: 0px;
        background-color: var(--secondary-color);
        top: 0;
        left: 0;
        z-index: -2;
      }

      &:checked {
        border-color: var(--primary-color) !important;

        &::before {
          transform: scale(1);
        }

        &::after {
          height: 100%;
        }
      }

      &.checkbox:checked ~ .custom-label-shape {
        border-color: var(--primary-color);
      }
    }
    p {
      font-size: 14px;
      color: #cad3dd;
      font-weight: normal;
      a {
        color: var(--light-color);
        text-decoration: underline !important;
      }
    }
  }
}
footer {
  width: 100%;
  padding: 50px 0px 0px 0px !important;
  background-color: #002141;
  position: relative;
  z-index: 9;
  margin-top: 100px;
  @include media() {
    margin-top: 50px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(39, 251, 184, 0) 0%,
      #279fb8 50%,
      rgba(39, 251, 184, 0) 100%
    );
  }
  .brand {
    text-align: center;
  }
  .contain {
    width: 100%;
    .brand-name img {
      width: 170px;
      height: 90px;
      object-fit: contain;
      margin-bottom: 32px;
    }
    h2 {
      font-size: 16px;
      color: var(--light-color);
      font-weight: normal;
      margin-bottom: 16px;
    }
    .social {
      @include flexStart();
      gap: 10px;
      @include media() {
        justify-content: center;
        align-items: center;
      }
      li a {
        width: 40px;
        height: 40px;
        background-color: #0d2b4a;
        border-radius: 8px;
        @include flexCenter();
        position: relative;
        z-index: 9;
        overflow: hidden;

        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
          object-position: center;
          filter: var(--light-filter);
        }

        &:hover {
          img {
            animation: fadeInLeft 0.4s linear;
            filter: var(--primary-filter);
          }
        }
      }
    }

    h1 {
      font-size: 16px;
      font-weight: 500;
      color: var(--light-color);
      margin-bottom: 20px;
      padding-bottom: 10px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: linear-gradient(
          to right,
          rgba(39, 251, 184, 0.04) 0%,
          #279fb8 100%
        );
      }
      @media (max-width: 992px) {
        padding-top: 20px;
        margin: 0px 0px 20px;
        border-top: 1px solid rgba($color: #000, $alpha: 0.05);
      }
    }

    .links {
      width: 100%;
      @include flexColumnCenter();
      align-items: start;
      gap: 15px;

      li a {
        font-size: 14px;
        font-weight: 500;
        color: var(--light-color);
        transition: all 0.3s linear;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
    p {
      font-size: 12px;
      color: #cad3dd;
      font-weight: normal;
    }
    .footer__form {
      @include flexCenter();
      align-items: center;
      border-radius: 40px;
      margin-top: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      gap: 8px;
      .footer__input {
        flex: 1;
        padding: 10px 20px;
        border: 1px solid #1e3b57;
        border-radius: 4px;
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        outline: none;

        &::placeholder {
          color: #ccc;
        }
      }

      .custom-btn {
        width: 80px;
        height: 40px;
      }
    }

    .contact-data {
      width: 100%;
      @include flexBetween();
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 16px;
      transition: all 0.3s linear;
      margin-bottom: 24px;
      padding: 18px 24px;

      @media (max-width: 992px) {
        padding: 20px 10px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      .data {
        width: calc(100% - 24px);

        p {
          font-size: 15px;
          font-weight: 900;
          color: var(--light-color);
          margin: 5px 0px 0px;
        }

        span {
          color: var(--light-color);
          font-size: 15px;
          font-weight: 500;
        }
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      &:hover {
        transform: translateY(-10px);

        p {
          color: var(--secondary-color);
        }

        img {
          animation: tada 0.3s linear both;
        }
      }
    }
  }

  .copyrights {
    width: 100%;
    padding: 20px 0px;
    margin-top: 40px;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
    @include flexCenter();
    @include media() {
      flex-direction: column;
      justify-content: center;
    }

    p {
      color: var(--light-color);
      font-size: 14px;
      font-weight: 500;
      margin: 0px;
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }
}

@import "media";
